@model Ipet.ViewModels.PerfilPetViewModel

@{
    ViewData["Title"] = "Novo Produto";
}
<div class="container">
    <h2>Criar um novo perfil de pet</h2>
    <form asp-action="Create" method="post">
        <div class="row">
            <div class="col-6">
                    <div class="form-group">
                        <label asp-for="TipoAnimal" class="control-label"></label>
                        <input asp-for="TipoAnimal" class="form-control" />
                        <span asp-validation-for="TipoAnimal" class="text-danger"></span>
                    </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Raca" class="control-label"></label>
                        <input asp-for="Raca" class="form-control" />
                        <span asp-validation-for="Raca" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                <div class="form-group">
                    <label asp-for="Idade" class="control-label"></label>
                    <input asp-for="Idade" class="form-control" />
                    <span asp-validation-for="Idade" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
            <div class="form-group">
                <label asp-for="Porte" class="control-label"></label>
                <input asp-for="Porte" class="form-control" />
                <span asp-validation-for="Porte" class="text-danger"></span>
            </div>
        </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Observacao" class="control-label"></label>
                    <input asp-for="Observacao" class="form-control" />
                    <span asp-validation-for="Observacao" class="text-danger"></span>
                </div>
        </div>
        </div>
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
        </label>





        <div class="form-group">
            <input type="submit" value="Criar" class="btn btn-primary" />
        </div>
    </form>
</div>