@using System.Globalization;
@using Ipet.MVC.Controllers;
@model decimal


@{
    ViewData["Title"] = "Carrinho - Soma";
}

@*@{

    var x = 0;
}
@if (ViewData["ValorDecimal"] == null)
{
    <div>R$ 00.00</div>
}
else
{
    <p>@ViewData["ValorDecimal"]</p>
}






*@

R$ 35.00