@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Interprise API.test</h1>
    <p>this is a project using Asp.Net Core together with MYSQL and Azure Cloud</p>
</div>
